<!DOCTYPE html>
<html>

	<head id="Head1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>亚特官网—油漆涂料代理
		</title>
		<link href="Skins/Default/Common.css" rel="stylesheet" type="text/css" />
		<link href="Skins/Default/Index.css" rel="stylesheet" type="text/css" />
		<script src="JS/1.9.1jquery.min.js" type="text/javascript"></script>
		<script src="JS/Index.js" type="text/javascript"></script>
		<script src="JS/Indexx.js" type="text/javascript"></script>
		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/axios/0.14.0/axios.js"></script>
		<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
	</head>

	<body>
		<!--头部开始-->
		<script src="js/cj_sdw_msw.js" type="text/javascript"></script>
		<script src="js/public.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="Skins/Default/inpage.css" />

		<div class="box" id="app" v-cloak>
			<div class="header">
				<div class="header_btm">
					<div class="container">
						<h1><a href="index.html"><img src="UploadFiles/Others/logo.png" 
                            width="100" height="auto"></a></h1>
						<!--<h2><img src="/Skins/Default/Img/Common/logo_w.png" width="179" height="38"></h2>-->
						<ul class="nav">
							<li class="li01">
								<a href="index.html">首页</a>
							</li>
							<li>
								<a href="Help/aboutus.html">关于我们</a><img src="Skins/Default/Img/Common/header_s.png" width="20" height="8">
							</li>
							<li>
								<a href="cpfl.html?id=1">产品中心</a><img src="Skins/Default/Img/Common/header_s.png" width="20" height="8">
							</li>
							<li>
								<a href="Help/jmhz.html">经典案例</a><img src="Skins/Default/Img/Common/header_s.png" width="20" height="8">
							</li>
							<li>
								<a href="news/index.html">新闻中心</a><img src="Skins/Default/Img/Common/header_s.png" width="20" height="8">
							</li>
							<li>
								<a href="Help/tsjy.html">联系我们</a><img src="Skins/Default/Img/Common/header_s.png" width="20" height="8">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div id="flashs">
				<div onclick="window.open('product/index.htm')" class="bgitem" id="flashbg0" style="background: url('UploadFiles/Others/banner.png') no-repeat;background-size:100% 100%;
                height: 600px; width: 100%; cursor: pointer; margin: 0 auto;">
				</div>
				<!-- <div onclick="window.open('product/index.htm')" class="bgitem" id="flashbg1" style="background: url('UploadFiles/Others/banner2.png') no-repeat;background-size:100% 100%;height: 600px; width: 100%; cursor: pointer; margin: 0 auto;">
</div> -->
				<script type="text/javascript" src="js/flash.js"></script>

			</div>

			<!--特点-->
			<div class="tedian">
				<ul>
					<li>
						<img src="Skins/Default/Img/Index/tedian01.png" width="150" height="150" />
						<h3>民族品牌</h3>
						<p>中国500价值品牌<br>品牌价值评估169.68亿元</p>
					</li>
					<li>
						<img src="Skins/Default/Img/Index/tedian02.png" width="150" height="150" />
						<h3>实力强企</h3>
						<p>7大生产基地<br>销售网点逾5000个</p>
					</li>
					<li>
						<img src="Skins/Default/Img/Index/tedian03.png" width="150" height="150" />
						<h3>科技创新</h3>
						<p>60多项发明专利<br>德国智能涂料生产线</p>
					</li>
					<li>
						<img src="Skins/Default/Img/Index/tedian04.png" width="150" height="150" />
						<h3>低碳环保</h3>
						<p>无添加净味<br>净醛低值</p>
					</li>
				</ul>
			</div>
			<!--about-->
			<!--门店展示-->
			<div id="main">
				<div class="m_pro_list wrapper">
					<div class="hd">
						<h2>产品中心</h2></div>
					<div class="bd">
						<ul class="clearfix">
							<li v-bind:class="'nofirst'+(index+1)"  v-for="(item,index) in productList">
								<figure>
									<div id="category">
										<div class="item">
											<a href="/product/?100_1.html">
												<img v-bind:src="item.pic" v-bind:alt="item.tilte" style="width:100%; display:block; height:auto">
												<div class="info-mask">
													<div class="info-mask-line">
													</div>
												</div>
											</a>
										</div>
									</div>
									<figcaption>{{item.title}}</figcaption>
								</figure>
							</li>
						</ul>
					</div>
				</div>
				<div class="m_pro_more">
					<a href="/product/?3_1.html">查看全部</a>
				</div>
			</div>
			<!--应用领域-->
			<div class="lingyu">
				<div class="title">
					<h2>应用领域</h2>
					<em>application area</em>
					<i></i>
				</div>
				<ul>
					<li>
						<img src="Skins/Default/Img/Index/lingyu01.jpg" width="285" height="400" class="imgtu">
						<img src="Skins/Default/Img/Index/lingyu_j01.png" width="50" height="50" class="imgIcon">
						<a href="javascript:void(0)" class="a01">
							<em>
                        <img src="Skins/Default/Img/Index/lingyu_icon.png" width="42" height="40" class="icon"><br>
                        家庭装修
                    </em>
							<p>应用于墙面、吊顶、家具等家庭装修表面涂装</p>
						</a>
					</li>
					<li>
						<img src="Skins/Default/Img/Index/lingyu02.jpg" width="285" height="400" class="imgtu">
						<img src="Skins/Default/Img/Index/lingyu_j02.png" width="50" height="50" class="imgIcon">
						<a href="javascript:void(0)" class="a02">>
							<em>
                        <img src="Skins/Default/Img/Index/lingyu_icon2.png" width="42" height="40" class="icon"><br>
                        家具厂
                    </em>
							<p>应用于门、窗、沙发、桌椅、床等家具厂木器家具涂装</p>
						</a>
					</li>
					<li>
						<img src="Skins/Default/Img/Index/lingyu03.jpg" width="285" height="400" class="imgtu">
						<img src="Skins/Default/Img/Index/lingyu_j03.png" width="50" height="50" class="imgIcon">
						<a href="javascript:void(0)" class="a03">
							<em>
                        <img src="Skins/Default/Img/Index/lingyu_icon3.png" width="42" height="40" class="icon"><br>
                        建筑工程
                    </em>
							<p>应用于建筑工程内外墙涂装</p>
						</a>
					</li>
					<li>
						<img src="Skins/Default/Img/Index/lingyu04.jpg" width="285" height="400" class="imgtu">
						<img src="Skins/Default/Img/Index/lingyu_j04.png" width="50" height="50" class="imgIcon">
						<a href="javascript:void(0)" class="a04">
							<em>
                        <img src="Skins/Default/Img/Index/lingyu_icon4.png" width="42" height="40" class="icon"><br>
                        工业用品
                    </em>
							<p>应用于机械设备、电器等工业用品涂装</p>
						</a>
					</li>
				</ul>

			</div>
			<!--news-->

			<div class="news">
				<div class="title">
					<h2><a href="javascript:void(0);" target="_blank">新闻中心</a></h2>
					<em>News Center</em>
					<i></i>
				</div>

				<div class="item" v-for="(item,index) in newsList">
					<img v-bind:src="item.focusPic">
					<p>{{item.title}}</p>
					<p class="text-center">
						<span>{{item.time}}</span>
						<a v-bind:href="'newsdetail.html?id='+item.newsId"  class="more">查看更多</a>
					</p>
				</div>

				<script>
					mswMove("news01", "", "", "", true, "top", false, 31, "", 50, 7)

					$(function() {
						$(".news .nright li").hover(function() {
							$(this).find(".at").stop(true, true).slideUp();
							$(this).find("dl").stop(true, true).slideDown();
						}, function() {
							$(this).find("dl").stop(true, true).slideUp();
							$(this).find(".at").stop(true, true).slideDown();
						})
						$(".news .menu li").hover(function() {
							$(this).addClass("cur").siblings().removeClass("cur");
							$(".news .newslist").eq($(this).index()).show().siblings().hide();
						})

					})
				</script>
			</div>
			<!--选项-->
			<div class="eemm">
				<img src="Skins/Default/Img/Common/ewm.png" />
			</div>
			<script type="text/javascript">
				$(function() {
					$(".a022").hover(function() {
						$(".eemm").stop().fadeIn(500);
					}, function() {
						$(".eemm").stop().fadeOut(500);
					})
				})
			</script>
			<div class="float">
				<div class="float_show float_show0">
					<a style="cursor:pointer;"></a>
				</div>
				<div class="float_show float_show1" style="right: -146px;">
					<a href="javascript:;"><img width="48" height="48" src="Skins/Default/Img/Common/float_icon2.png">18133626045</a>
				</div>
				<div class="float_show float_show2" style="right: -199px;">
					<a href=""><img width="48" height="48" src="Skins/Default/Img/Common/float_icon3.png">1437552152@qq.com</a>
				</div>

				<div class="float_show float_show4">
					<a href="javascript:;"><img width="48" height="48" src="Skins/Default/Img/Common/float_icon5.png"></a>
					<div class="float_wx" style="display: none;"><img width="144" height="144" src="Skins/Default/Img/Common/ewm.png"></div>
				</div>
			</div>
			<!-- 底部 -->
			<div class="footerWrap">
				<div class="containers">
					<div class="footerTit">
						<div class="Tits">
							<img src="/Public/Home/images/logo.png" alt="">
							<div>
								地址:安徽省合肥市政务区天鹅湖万达2号楼20层
								<br> 皖ICP备14001900号-2
								<br>
								<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34010402701701">皖公网安备 34010402701701号</a>
							</div>
						</div>
					</div>
					<div class="footerList">
						<div class="about">
							<ul>
								<!--
                            <li>
                                <a target="_blank" href="http://www.qkljw.com/"><p>区块链新闻资讯</p></a>
                                <a target="_blank" href="http://www.qkljw.com/kx.html">第一手快讯</a>
                                <a target="_blank" href="http://www.qkljw.com/hot.html">热点资讯</a>
                                <a target="_blank" href="http://www.qkljw.com/article?type=8">政策法规</a>
                                <a target="_blank" href="http://www.qkljw.com/article?type=5">应用落地</a>
                                <a target="_blank" href="http://www.qkljw.com/article?type=4">比特币资讯</a>
                            </li>-->
								<li>
									<p>资源中心</p>
									<!-- <a href="/btb.html">数字资产交易系统</a>-->
									<a href="/ai.html">人工智能解决方案</a>
									<a href="/dapp.html">链上应用开发</a>
									<a href="/about.html">关于我们</a>
									<!--<a target="_blank" href="http://www.qkljw.com">区块链见闻</a>  -->
								</li>
								<!--
                            <li>
                                <p>相关内容</p>
                                <a href="http://www.qkljw.com/"> 区块链见闻</a>
                                <a href="#"> 官方QQ</a>
                                <a href="#"> 官方微信号</a>
                                <a href="#"> 官方微博</a>
                            </li>
                            -->
								<li>
									<p>联系我们</p>
									<a href="javascript:void(0)">7*24小时服务电话</a>
									<span>400-996-7957</span>
									<a href="javascript:void(0)">公司邮箱</a>
									<span>admin@xinhuokj.com</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--获取接口-->
		<script src="config.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					newsList: [],
					productList: []
				},
				methods: {
					getData: function(url, params) {
						let that = this;
						axios({
							method: 'get',
							url: url,
							params: params
						}).then((res) => {
							that.newsList = res.data.data.newsList;

							console.log(that.newsList)

							that.productList = res.data.data.productList;
						}, function() {
							console.log('请求失败');
						});
					}
				},
				created() {
					this.getData("/newslist", {type:0,newstype:1})
				}
			})
		</script>

		<script type="text/javascript">
			function action() {
				$(window).scroll(function() {
					var st = $(document).scrollTop();
					if(st > 500) {
						$('.float_show0').show();
					} else {
						$('.float_show0').hide();
					}
				})

				$('.float_show0 a').click(function() {
					$('html,body').animate({
						'scrollTop': 0
					}, 500);
				});
			}

			$('.float_show1').hover(function() {
				$(this).stop().animate({
					'right': '0'
				}, 450)

			}, function() {

				$(this).stop().animate({
					'right': '-146px'
				}, 450)

			})

			$('.float_show2').hover(function() {
				$(this).stop().animate({
					'right': '0'
				}, 450)

			}, function() {

				$(this).stop().animate({
					'right': '-199px'
				}, 450)

			})

			$('.float_show4').hover(function() {

				$(this).stop().find('.float_wx').fadeIn(350)

			}, function() {

				$(this).stop().find('.float_wx').fadeOut(350)

			})
		</script>
	</body>

</html>
<script src="js/easeing.js"></script>
<script>
	$(function() {

		/*初始化*/
		var b = 0;
		$(".banner .blist").eq(0).show().siblings().hide();

		$(".banner .blist01 .guang").hide();
		$(".banner .blist01 .ershi").css({
			"top": 130,
			"opacity": 0
		})
		$(".banner .blist01 .ganen").css({
			"height": 0,
			"top": 382
		})
		$(".banner .blist01 .ganenxian").css({
			"width": 0,
			"margin-left": 0
		})
		$(".banner .blist01 .year").css({
			"top": 450,
			"opacity": 0
		})

		$(".banner .blist02 .wen").css({
			"top": -280
		});
		$(".banner .blist02 .tong").css({
			"bottom": -700
		})

		$(".banner .blist03 .fangzi").css({
			"bottom": -300
		})
		$(".banner .blist03 .denglong").css({
			"top": -300
		})
		$(".banner .blist03 .yanhua").css({
			"display": "none"
		})
		$(".banner .blist03 .wenzi").css({
			"top": -200
		})
		$(".banner .blist03 .a01").css({
			"margin-left": -600,
			"opacity": 0
		})
		$(".banner .blist03 .a02").css({
			"margin-left": 600,
			"opacity": 0
		})

		$(".banner .blist04 .xian").css({
			"width": 0
		});
		$(".banner .blist04 .tit").css({
			"top": 200,
			"opacity": 0
		})
		$(".banner .blist04 .tu").css({
			"margin-left": 400,
			"opacity": 0
		})
		$(".banner .blist04 .gaoliang").hide();

		$(".banner .blist05 .tp").css({
			"top": 0,
			"opacity": 0
		})
		$(".banner .blist05 .tupian").css({
			"top": 300,
			"opacity": 0
		})

		function guang() {
			$(".banner .blist01 .guang").animate({
				opacity: 0.5
			}, 500).animate({
				opacity: 1
			}, 500)
		}
		setInterval(guang, 1000);

		function yanhua() {
			$(".banner .blist03 .yanhua").animate({
				opacity: 0.5
			}, 500).animate({
				opacity: 1
			}, 500)
		}
		setInterval(yanhua, 1000);

		function gaoliang() {
			$(".banner .blist04 .gaoliang").animate({
				opacity: 0.5
			}, 500).animate({
				opacity: 1
			}, 500)
		}
		setInterval(gaoliang, 1000);

		$(window).load(function() {
			$(".banner .blist01 .ganenxian").delay(200).animate({
				width: 910,
				marginLeft: -455
			}, 500)
			$(".banner .blist01 .ershi").delay(500).animate({
				top: 110,
				opacity: 1
			}, 500, 'easeOutExpo', function() {
				$(".banner .blist01 .guang").css({
					"display": "block"
				});
				$(".banner .blist01 .ganen").animate({
					height: 36,
					top: 346
				}, 500);
				$(".banner .blist01 .year").animate({
					top: 420,
					opacity: 1
				}, 500)
			})

		})

		/*初始化end*/

		function banner() {
			if(b < 4) {
				b++;
			} else {
				b = 0
			}

			$(".banner .btn span").eq(b).addClass("cur").siblings().removeClass("cur")
			$(".banner .blist").eq(b).fadeIn().siblings().hide();
			if(b == 0) {
				$(".banner .blist01 .ganenxian").delay(200).animate({
					width: 910,
					marginLeft: -455
				}, 500)
				$(".banner .blist01 .ershi").delay(500).animate({
					top: 110,
					opacity: 1
				}, 500, 'easeOutExpo', function() {
					$(".banner .blist01 .guang").css({
						"display": "block"
					});
					$(".banner .blist01 .ganen").animate({
						height: 36,
						top: 346
					}, 500);
					$(".banner .blist01 .year").animate({
						top: 420,
						opacity: 1
					}, 500)
				})
			} else {
				$(".banner .blist01 .guang").hide();
				$(".banner .blist01 .ershi").css({
					"top": 130,
					"opacity": 0
				})
				$(".banner .blist01 .ganen").css({
					"height": 0,
					"top": 382
				})
				$(".banner .blist01 .ganenxian").css({
					"width": 0,
					"margin-left": 0
				})
				$(".banner .blist01 .year").css({
					"top": 450,
					"opacity": 0
				})
			}
			if(b == 1) {
				$(".banner .blist02 .wen").delay(500).animate({
					top: 55
				}, 1000, 'easeOutBounce');
				$(".banner .blist02 .tong").animate({
					bottom: 0
				}, 1000, 'easeOutExpo');
			} else {
				$(".banner .blist02 .wen").css({
					"top": -280
				});
				$(".banner .blist02 .tong").css({
					"bottom": -700
				})
			}
			if(b == 2) {
				$(".banner .blist03 .fangzi").delay(500).animate({
					bottom: 0
				}, 1000, 'easeOutExpo');
				$(".banner .blist03 .denglong").delay(700).animate({
					top: 0
				}, 1200, 'easeOutBounce');
				$(".banner .blist03 .yanhua").delay(300).fadeIn(500)
				$(".banner .blist03 .wenzi").delay(700).animate({
					top: 95
				}, 1000, 'easeOutExpo');
				$(".banner .blist03 .a01").delay(900).animate({
					marginLeft: -225,
					opacity: 1
				}, 1000, 'easeOutExpo')
				$(".banner .blist03 .a02").delay(900).animate({
					marginLeft: 5,
					opacity: 1
				}, 1000, 'easeOutExpo')

			} else {
				$(".banner .blist03 .fangzi").css({
					"bottom": -300
				})
				$(".banner .blist03 .denglong").css({
					"top": -300
				})
				$(".banner .blist03 .yanhua").css({
					"display": "none"
				})
				$(".banner .blist03 .wenzi").css({
					"top": -200
				})
				$(".banner .blist03 .a01").css({
					"margin-left": -600,
					"opacity": 0
				})
				$(".banner .blist03 .a02").css({
					"margin-left": 600,
					"opacity": 0
				})
			}
			if(b == 3) {
				$(".banner .blist04 .xian").delay(500).animate({
					width: 1868
				}, 300, function() {
					$(".banner .blist04 .tit").animate({
						top: 165,
						opacity: 1
					}, 1000, 'easeOutExpo');
					$(".banner .blist04 .tu").animate({
						marginLeft: 120,
						opacity: 1
					}, 1000, 'easeOutExpo', function() {
						$(".banner .blist04 .gaoliang").show()
					})

				})
			} else {
				$(".banner .blist04 .xian").css({
					"width": 0
				});
				$(".banner .blist04 .tit").css({
					"top": 200,
					"opacity": 0
				})
				$(".banner .blist04 .tu").css({
					"margin-left": 400,
					"opacity": 0
				})
				$(".banner .blist04 .gaoliang").hide();
			}
			if(b == 4) {
				$(".banner .blist05 .tp").delay(500).animate({
					top: 60,
					opacity: 1
				}, 2000, 'easeOutExpo')
				$(".banner .blist05 .tupian").delay(500).animate({
					top: 205,
					opacity: 1
				}, 2000, 'easeOutExpo')
			} else {
				$(".banner .blist05 .tp").css({
					"top": 0,
					"opacity": 0
				})
				$(".banner .blist05 .tupian").css({
					"top": 300,
					"opacity": 0
				})
			}
		}

		var t = setInterval(banner, 6000)

		$(".banner .blist").hover(function() {
			clearInterval(t)
		}, function() {
			t = setInterval(banner, 6000)
		})

		$(".banner .btn span").hover(function() {
			clearInterval(t)
		}, function() {
			t = setInterval(banner, 6000)
		}).click(function() {
			b = $(this).index();
			$(".banner .btn span").eq(b).addClass("cur").siblings().removeClass("cur")
			$(".banner .blist").eq(b).fadeIn().siblings().hide();

			if(b == 0) {
				$(".banner .blist01 .ganenxian").delay(200).animate({
					width: 910,
					marginLeft: -455
				}, 500)
				$(".banner .blist01 .ershi").delay(500).animate({
					top: 110,
					opacity: 1
				}, 500, 'easeOutExpo', function() {
					$(".banner .blist01 .guang").css({
						"display": "block"
					});
					$(".banner .blist01 .ganen").animate({
						height: 36,
						top: 346
					}, 500);
					$(".banner .blist01 .year").animate({
						top: 420,
						opacity: 1
					}, 500)
				})
			} else {
				$(".banner .blist01 .guang").hide();
				$(".banner .blist01 .ershi").css({
					"top": 130,
					"opacity": 0
				})
				$(".banner .blist01 .ganen").css({
					"height": 0,
					"top": 382
				})
				$(".banner .blist01 .ganenxian").css({
					"width": 0,
					"margin-left": 0
				})
				$(".banner .blist01 .year").css({
					"top": 450,
					"opacity": 0
				})
			}
			if(b == 1) {
				$(".banner .blist02 .wen").delay(500).animate({
					top: 55
				}, 1000, 'easeOutBounce');
				$(".banner .blist02 .tong").animate({
					bottom: 0
				}, 1000, 'easeOutExpo');
			} else {
				$(".banner .blist02 .wen").css({
					"top": -280
				});
				$(".banner .blist02 .tong").css({
					"bottom": -700
				})
			}
			if(b == 2) {
				$(".banner .blist03 .fangzi").delay(500).animate({
					bottom: 0
				}, 1000, 'easeOutExpo');
				$(".banner .blist03 .denglong").delay(700).animate({
					top: 0
				}, 1200, 'easeOutBounce');
				$(".banner .blist03 .yanhua").delay(700).fadeIn(500)
				$(".banner .blist03 .wenzi").delay(700).animate({
					top: 95
				}, 1000, 'easeOutExpo');
				$(".banner .blist03 .a01").delay(900).animate({
					marginLeft: -225,
					opacity: 1
				}, 1000, 'easeOutExpo')
				$(".banner .blist03 .a02").delay(900).animate({
					marginLeft: 5,
					opacity: 1
				}, 1000, 'easeOutExpo')

			} else {
				$(".banner .blist03 .fangzi").css({
					"bottom": -300
				})
				$(".banner .blist03 .denglong").css({
					"top": -300
				})
				$(".banner .blist03 .yanhua").css({
					"display": "none"
				})
				$(".banner .blist03 .wenzi").css({
					"top": -200
				})
				$(".banner .blist03 .a01").css({
					"margin-left": -600,
					"opacity": 0
				})
				$(".banner .blist03 .a02").css({
					"margin-left": 600,
					"opacity": 0
				})
			}
			if(b == 3) {
				$(".banner .blist04 .xian").delay(500).animate({
					width: 1868
				}, 300, function() {
					$(".banner .blist04 .tit").animate({
						top: 165,
						opacity: 1
					}, 1000, 'easeOutExpo');
					$(".banner .blist04 .tu").animate({
						marginLeft: 120,
						opacity: 1
					}, 1000, 'easeOutExpo', function() {
						$(".banner .blist04 .gaoliang").show()
					})

				})
			} else {
				$(".banner .blist04 .xian").css({
					"width": 0
				});
				$(".banner .blist04 .tit").css({
					"top": 200,
					"opacity": 0
				})
				$(".banner .blist04 .tu").css({
					"margin-left": 400,
					"opacity": 0
				})
				$(".banner .blist04 .gaoliang").hide();
			}
			if(b == 4) {
				$(".banner .blist05 .tp").delay(500).animate({
					top: 60,
					opacity: 1
				}, 2000, 'easeOutExpo')
				$(".banner .blist05 .tupian").delay(500).animate({
					top: 205,
					opacity: 1
				}, 2000, 'easeOutExpo')
			} else {
				$(".banner .blist05 .tp").css({
					"top": 0,
					"opacity": 0
				})
				$(".banner .blist05 .tupian").css({
					"top": 300,
					"opacity": 0
				})
			}
		})
	})
</script>